.MainChat
  .Message--header
    .name
      = @group.name
      .member
        Member:
        - @group.users.each do |user|
          = user.name
    .edit
      .btn
        = link_to new_group_path do
          Edit
  .Message--list
    = render @messages
  .Message--form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'input_box-text', placeholder: 'type a message'
        = f.label :image, class: 'input_box-img' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'input_box-img__file'
      = f.submit 'Send', class: 'send_btn'